* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  background-color: rgb(42, 41, 41);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: wheat;
}

/* .notes{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 1rem;
  padding-block: 2rem;
}

.notes{
  max-width: 20rem;
  gap: 2rem;
  padding: 2rem;
    background-color: rgb(91, 91, 91);

} */


.notes{
  display: flex;
  gap: 2rem;
  padding-block: 2rem;
  padding-inline: 2rem;
  flex-wrap: wrap;
  overflow: hidden;
}


.note{
  max-width: 20rem;
  background-color: rgb(114, 112, 112);
   border-radius: 2rem;
   padding: 2rem;
   display: flex;
   justify-content: space-between;
   overflow: hidden;
   flex-direction: column;

}

.create-form{
  display: flex;
  align-items: center;
  padding-block: 2rem;
  padding-inline: 4rem;
  gap: 2rem;


}

input{
  width: 15rem;
  height: 3rem;
  border-radius: 0.75rem;
  text-align: center;
}

button{
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.75rem;
  color: wheat;
  background-color: green;
  font-size: 1rem;
}