* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  background-color: rgb(42, 41, 41);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: wheat;
}
.notes{
  display: flex;
  gap:2rem;
  padding-block: 1rem;
  padding-inline: 1rem;
}

.note{
  background-color: rgb(122, 121, 121);
  padding: 2rem;
  border-radius: 1.2rem;
  max-width: 20rem;
  color: rgb(223, 206, 206);

}

