* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: rgb(36, 35, 35);
  color: wheat;
}


.notes{
  display: flex;
  gap: 2rem;
  padding-block: 2rem;
  padding-inline: 2rem;

}


.note{
  max-width: 20rem;
  background-color: rgb(114, 112, 112);
   border-radius: 2rem;
   padding: 2rem;

}



