* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  background-color: rgb(40, 40, 40);
  color: wheat;
}


.notes{
  display: flex;
  gap: 2rem;
  padding-block: 2rem;
  padding-inline: 2rem;
  flex-wrap: wrap;
  overflow: hidden;
}


.note{
  max-width: 20rem;
  background-color: rgb(114, 112, 112);
   border-radius: 2rem;
   padding: 2rem;
   display: flex;
   justify-content: space-between;
   overflow: hidden;
   flex-direction: column;

}

.create-form{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
    padding-inline: 2rem;
  padding-block: 2rem;
}
input{
  width: 15rem;
  height: 3rem;
  border-radius: 1rem;
  text-align: center;


}

button{
  background-color: rgb(46, 142, 46);
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
}