* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  background-color: rgb(40, 40, 40);
  color: wheat;
}

.notes{
  display: flex;
  justify-content: center;
  padding-inline: 2rem;
  padding-block: 2rem;
  background-color: rgb(95, 95, 95);
}
.note{
  
}
